<h1>Burgers! Yum! Let's eat!</h1>

<h2>Burgers To Devour!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Yum that was good!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burger/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="TB">Type of Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Hungry!<br>
    <input type="radio" name="sleepy" value="0"> Full
  </div>

  <button type="submit">Add Burger</button>
</form>